* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, #07ebb2, #1ecbe9);
    font-family: 'Arial', sans-serif;
    color: #ffffff; 
    padding: 20px;
}

.container {
    text-align: center;
    background: rgba(43, 41, 41, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 1200px;
    animation: fadeIn 1s ease-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header { 
    margin-bottom: 10px; 
    margin-top: -30px;
} 

.logo { 
    max-width: 150px; 
}

.title {
    font-size: 2.5em;
    color: #fae46a; 
    margin-top: 20px;    
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-section,
.info-section {
    width: 100%;
    margin-bottom: 20px;
}

.result-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.result-title {
    font-size: 2em;
    margin-left: 10px;
    color: #FEEE91; 
    font-weight: bold;
    margin-top: -30px;
}

.result-box {
    background: rgba(77, 77, 71, 0.2); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-out; 
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.result {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ffffff; 
}

.advice {
    background: rgba(253, 251, 139, 0.2); 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 1.2em; 
}

/* Button Styles */
.button {
    all: unset;
    width: 220px; 
    height: 50px;
    font-size: 16px;
    background: #ebc252; 
    border: none;
    position: relative;
    color: #000000; 
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: bold;
}

.button::after,
.button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.info-section {
    background: rgba(66, 70, 66, 0.2); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.info-section.visible {
    opacity: 1; 
}

.tips {
    list-style-type: none;
    text-align: left;
    margin-top: 20px;
}

.tips li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff; 
    opacity: 0;
    display: block; 
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0; 
    animation: typing 2s steps(30, end);
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.footer {
    margin-top: 20px;
}

.footer p {
    font-size: 1em;
    color: #000000; 
    font-size: 16px;
}
